/notebooks/latents/*
/utils/*
**/__pycache__/*
**/runs/*
**/wandb/*
/appendix/*
/flow_checkpoints/*
/data/
*_final_final_final.pt

**/*.jpg
**/*.jpeg
**/*.png
**/*.webp
**/*.pt
**/*.npz
**/*.npy
**/*.pkl
**/*.pth
**/*.pt
**/events.out.tfevents*
**/*.zip
**/.cache/*
**/.caches/*
**/.DS_Store
**/*.DS_Store
**/.DS_Store
.DS_Store
deixis/face_utils/.assets
discriminator/**/* 
*.gz
/traversals/AdamS/data
*.ckpt
